
@{
    ViewBag.Title = "LoginAdd";
}

<h2>注册</h2>

<table class="table">
    <tr>
        <td>邮箱：</td>
        <td><input id="Mailbox" type="text" /></td>
    </tr>
    <tr>
        <td>用户名：</td>
        <td><input id="UserName" type="text" /></td>
    </tr>
    <tr>
        <td>密码：</td>
        <td><input id="Pass" type="text" /></td>
    </tr>
    <tr>
        <td>手机号：</td>
        <td><input id="Phone" type="text" /></td>
    </tr>
    <tr>
        <td><input id="Button1" type="button" value="注册" onclick="LoginAdd()" /></td>
    </tr>
</table>

@section scripts{
    <script>
        function LoginAdd()
        {
            var obj = {};
            obj.Mailbox = $("#Mailbox").val();
            obj.UserName = $("#UserName").val();
            obj.Pass = $("#Pass").val();
            obj.Phone = $("#Phone").val();

            $.ajax({
                url: 'http://localhost:62516/api/LoginAdd',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('注册成功');
                        location.href = '/Post/Login';
                    }
                    else {
                        alert('注册失败');
                    }
                }
            })
        }
    </script>
    }

